@import "../../variables";

.p-tag-title {
  display: inline-block;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid currentColor;
  color: $color-text;
  font-size: 2.4rem;
  &::before {
    content: '#';
    display: inline-block;
    margin-right: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .p-tag-title {
    color: $color-text-dark;
  }
}